


<footer id="footer">
    <div class="container" id="footerdiv">
        <br><br><br><br><br>
{#        <p id="footerline"></p>#}
       <p id="a">Copyright &copy; 2018, TheFoodie </p>
        <p style="text-align:center;">Contact us: <span style="color:blue;text-align:center;">thefoodie.newsletter@gmail.com</span></p>
        <br>
    </div>
</footer>

<style>
    #footerline{
       border-top-style: groove;
        border-top-color: #fafafa;
        text-align:center;
     margin-bottom:20px;
    }

    #a{
        text-align:center;
    }

    #footerdiv{

    }

{#    .footer{#}
{#        display:none;#}
{#    }#}
{##}
{# home .footer {#}
{#     display:block#}
{# }#}


</style>
