<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="footer">
    <div class="container">
        <br><br>
        <p class="line"></p>
       <p id="footer">Copyright &copy; 2018, TheFoodie </p>
        <p style="text-align:center;">Contact us: <span style="color:blue;text-align:center;">thefoodie.newsletter@gmail.com</span></p>
        <br>
    </div>
</footer>

<style>
    .line{
       border-top-style: groove;
        border-top-color: #fafafa;
        text-align:center;
     margin-bottom:20px;
    }

    #footer{
        text-align:center
    }




</style>
