{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{##}
{#<footer class="footer">#}
{#    <div class="container">#}
{#        <p class="line"></p>#}
{#        <p>Contact Us: thefoodie@gmail.com</p>#}
{#        <a href="#" class="fa fa-facebook"></a>#}
{#    </div>#}
{#</footer>#}
{##}
{#<style>#}
{#    .line{#}
{#       border-top-style: groove;#}
{#        border-top-color: #fafafa;#}
{#        text-align:center;#}
{#     margin-bottom:20px;#}
{#    }#}
{##}
{#   .fa {#}
{#  padding: 20px;#}
{#  font-size: 30px;#}
{#  width: 30px;#}
{#  text-align: center;#}
{#  text-decoration: none;#}
{#  margin: 5px 2px;#}
{#  border-radius: 50%;#}
{#}#}
{##}
{#.fa:hover {#}
{#    opacity: 0.7;#}
{#}#}
{##}
{#.fa-facebook {#}
{#  background: #3B5998;#}
{#  color: white;#}
{#}#}
{##}
{##}
{##}
{#</style>#}
