{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissable" style="border:2px solid lightgreen;border-radius: 8px;background-color:lightgreen;color:black;">
                 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}

      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="alert alert-danger alert-dismissable">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{error}}</div>
{% endif %}

{% if msg %}
  <div class="alert alert-success alert-dismissable w3-container w3-border w3-round-xlarge">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{msg}}</div>
{% endif %}
