<!--<link rel=stylesheet type=text/css href="\static\css\navbar.css">-->
  <!--<nav class="navbar navbar-default">-->

<nav class=".navbar.navbar-default.navbar-static-top">
     <div class="container-fluid" id="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><a href="/"><img src="http://www.freeiconspng.com/uploads/food-icon-7.png" style="width:40px;height:40px;display:inline-block;">The Foodie</a></a>
        </div>
        <!--<div id="navbar" class="collapse navbar-collapse">-->
            <ul class="nav navbar-nav">
                <li class=""><a href="/">Home</a></li>
                <li class=""><a href="/filter">Find Food</a></li>
                <li class=""><a href="/">Find Me</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Restaurant<span
                        class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="/userRegister">Create an account</a></li>-->
                        <li><a href="/viewRest">View Restaurant</a></li>
                        <li><a href="/addRest">New Restaurant</a></li>
                        <li><a href="/filter">Filter Restaurant</a></li>
                    </ul>
                    <li class=""><a href="/">ChatRoom</a></li>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if session['logged_in'] %}
                    <li><a href="/userProfile">{{ session['username'] }}</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/userRegister">Register</a></li>
                    <li><a href="/userLogin">Login</a></li>
                {% endif %}

            </ul>
            </div>

</div>
</nav>

<style>




    a { color:black !important; }
a:hover { color:red !important;}

</style>

