<!--<link rel=stylesheet type=text/css href="\static\css\navbar.css">-->
  <!--<nav class="navbar navbar-default">-->
    {% from "includes/_formhelper.html" import render_field %}

<div class="container">
<nav class="navbar navbar-default navbar-static-top">
{#     <div class="container-fluid" id="container">#}
        <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <ul class="navbar-brand" id="navbrand">
                <img src="http://www.freeiconspng.com/uploads/food-icon-7.png" style="width:20px;height:20px;display:inline-block;">The Foodie
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/filter">Find Food</a></li>
          <li><a href="/data">Find Me</a></li>
           <li><a href="/findevent">Find Event</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Restaurants<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/addRest">Recommend Restaurant</a></li>
            <li><a href="/viewallRest">View All Restaurants</a></li>
          </ul>
        </li>
           <li><a href="/events">Events</a></li>
           <li><a href="/chat">ChatRoom</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if session['logged_in'] %}
                    <li>
                   <img id ='profileimg' class="img-circle" style="width:40px;height:40px;display:inline-block;margin-top:5px;" src={{ proPic }}>
                        </li>
                    <li><a href="/userProfile">{{ session['username'] }}</a></li>
                    <li><a href="/logout" >Logout</a></li>
                {% else %}
                    <li><a href="/userLogin">Login</a></li>
                    <li><a href="/userRegister" >Register</a></li>
                {% endif %}

            </ul>
      </ul>
        </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<style>

.container{
    background-color:white;

}

.navbar
{
    background-color: transparent;
}

.navbar-brand{
    display:inline-block;
    color:black !important;

}


    a, .navbar-brand { color:black !important;display: block;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1em; }
nav a:hover { color:red !important;}

.nav navbar-nav{
font-size:10px;
}

{#/* Full-width input fields */#}
{#.info {#}
{#    width: 100%;#}
{#    padding: 12px 20px;#}
{#    margin: 8px 0;#}
{#    display: inline-block;#}
{#    border: 1px solid #ccc;#}
{#    box-sizing: border-box;#}
{#}#}
{##}
{#.logininfo{#}
{#     width: 100%;#}
{#    padding: 12px 20px;#}
{#    margin: 8px 0;#}
{#    display: inline-block;#}
{#    border: 1px solid #ccc;#}
{#    box-sizing: border-box;#}
{#}#}
{##}
{#/* Set a style for all buttons */#}
{##signbtn {#}
{#     background-color:darkred;#}
{#    width:100%;#}
{#}#}

@media (max-width:991px){
#profileimg{

}
    }

/* Add padding to container elements */
.container {
    padding: 16px;
}

#img{
 float:left;

}

#choose{
margin-left:20px;
width:150px;

}

@media screen and (max-width: 991px) {
   #signupmodal{
	text-align:center;
	width:100%;
   }
    #loginbtn {
       width:100%;
    }

    .info{
        width:100%;
    }

    #signbtn{
        width:100%;
        text-align:center;

    }

    .logininfo{
        width:100%;
    }
}


#loginbtn{
    background-color:darkred;
    width:100%;
}





</style>

