{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
<div class="container" id="profilediv">
    <br>
    <br>
    <h1 id="addrest">Add New restaurant!</h1>
    <p id="rest">Do you feel that that restaurants you visited deserve more recognition? Help them by adding the restaurant informations below!</p>
    <br>
    <br>
    <form method="POST">
        <div class="form-group col-md-12">
            <div class="row">
            <div  class="col-md-8 col-md-offset-2" class="edit">
                <div class="form-group col-md-12" class="name">
                    {{ render_field(form.name, class_="form-control") }}
                </div>

                <div class="form-group col-md-12" class="desc">
                    {{ render_field(form.desc, class_="form-control") }}
                </div>

                <div class="form-group col-md-12">
                    {{ render_field(form.address, class_="form-control") }}
                </div>

                <div class="form-group col-md-12" class="location">
                    {{ render_field(form.location, class_="form-control") }}
                </div>

                <div class="form-group col-md-12" class="type">
                    {{ render_field(form.foodType, class_="form-control") }}
                </div>

                <div class="form-group col-md-12" class="price">
                    {{ render_field(form.price, class_="form-control") }}
                </div>

                <div class="form-group col-md-12" class="openhr">
                    {{ render_field(form.openH, class_="form-control") }}
                </div>

                <div class="form-group col-md-12">
                    {{ render_field(form.closingH, class_="form-control") }}
                </div>
                <br>
                <br>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <br>
                                <br>
                                <input type="submit" value="Submit" id="submitbtn"/>
                             </div>
                        </div>
                    </div>
              </div>
            </div>
        </div>

    </form>




<style>


      #addrest{
         font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid darkred;
    margin-bottom:20px;
    font-size: 15px;
    padding-bottom: 3px;
    font-size:200%;
    }
#profilediv {
         align: center;
         background-color: white;
         display:block;
     }

    form{
        display: inline-block;
    }

    #submitbtn{
         border-radius: 4px;
    background-color: darkred;
    border: 0;
    color: #fff!important;
    display: inline-block;
    font-size: 14px;
    text-align: center;
        height: 42px;
        width:300px;
    }
#rest{
   font-style: italic;
}

@media (max-width: 991px) {
    .edit{
        float:left;
    }

    #profilediv{
        float:left;
    }

}

body{
 background:url("http://www.arteasan.com/mag/wp-content/uploads/2016/02/fresh-vegetables-on-the-wooden-table-wallpaper-5000x3745-690x455.jpg");
    background-color: rgba(255,255,255,0.2);
     background-blend-mode: lighten;
    background-repeat: no-repeat;
     background-size: cover;
    opacity:0.9;
}


</style>

{% endblock %}
