{% extends 'layout.html' %}
{% block body %}
    <div class="container">
    <button id="backbtn" class="btn btn-basic" style="float:left;margin-left:30px;"><a href="/userProfile" class="back"> << go back to your profile</a></button>
    <br><br><br>
    <h3 style="text-align:center;font-size:250%;">Your result is</h3>
    <br>
    <h3 style="text-align:center;font-size:250%;color:blue;">{{ bmi }}</h3>
        <h5 style="text-align:center;font-size:200%;text-justify:auto;">Your bmi category is <span style="color:greenyellow;font-size:120%;">{{ status }}</span></h5>
<br><br><br><br>

<div class="form-group col-md-12">

    {% if status == 'Healthy' %}
    <img class="img-responsive" src="https://thumbs.dreamstime.com/b/healthy-boy-energetic-eps-31616887.jpg" style="width:450px;height:350px; display: block;
    margin-left: auto;
    margin-right: auto;">
    {% elif status == 'Underweight' %}
    <img class="img-responsive" src="https://i.imgur.com/pEXlokD.jpg" style="width:450px;height:350px; display: block;
    margin-left: auto;
    margin-right: auto;">
    {% elif status == 'Obese' %}
    <img class="img-responsive" src="https://i.imgur.com/Y3HxsZE.jpg" style="width:450px;height:350px; display: block;
    margin-left: auto;
    margin-right: auto;">
    {% else %}
    <img class="img-responsive" src="https://i.imgur.com/QpDvDbt.png" style="width:450px;height:350px; display: block;
    margin-left: auto;
    margin-right: auto;">
    {% endif %}


{% if status == 'Healthy' %}
<h4 style=" display: block;font-size: 150%;font-family: 'Montserrat', sans-serif;font-weight: bold;letter-spacing: .1em;text-align: center;">
    Congratulations for staying <span style="color:greenyellow;font-size:120%;">healthy!</span> Remember to eat more veggies and Be active for 30mins a day! </h4>
{% elif status == 'Underweight' %}
<h4 style=" display: block;font-size: 150%;font-family: 'Montserrat', sans-serif;font-weight: bold;letter-spacing: .1em;text-align: center;">
    You are <span style="color:yellow;font-size:120%;">Underweight!</span> As part of an overall healthy diet, choose whole-grain breads, pastas and cereals; fruits and vegetables; dairy products; lean protein sources; and nuts and seeds. </h4>
{% elif status == 'Obese' %}
<h4 style=" display: block;font-size: 150%;font-family: 'Montserrat', sans-serif;font-weight: bold;letter-spacing: .1em;text-align: center;">
    Oh No! You are <span style="color:darkred;font-size:120%;">Obese!</span>Be active for 30mins a day! Activities includes take the dog for a walk, meet a friend for a walk or a bike ride, take the stairs instead of a lift or escalator. </h4>
{% else %}
<h4 style=" display: block;font-size: 150%;font-family: 'Montserrat', sans-serif;font-weight: bold;letter-spacing: .1em;text-align: center;">
    You are <span style="color:red;font-size:120%;">Overweight!</span> Watch your diet! Watch Out for Fats but Don't Eliminate the Good Fats Completely.  </h4>
{% endif %}






</div>
    </div>
        <br>
<br><br><br>
 <div class="container">
        <div class="form-group col-md-12" id="randHea">Take a look Below for Healthy Restaurants!</div>
        <br><br>
        <div class="form-group col-md-4">
            <div id="recRest">
                <br><br>
                <img class="img-responsive" id="recRestImg" src={{ randHea[0]['urlRest'] }}>
                <h1 class="recname">{{ randHea[0]['Name'] }}</h1>
                <h6 id="recDesc">{{ randHea[0]['Description'] }}</h6>
            </div>
            <div id="knowbtn">
                <a id="knowtxt" href="/restDet/{{ randHea[0]['Name'] }}">Know More</a>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div id="recRest">
                <br><br>
                <img class="img-responsive" id="recRestImg" src={{ randHea[1]['urlRest'] }}>
                <h1 class="recname">{{ randHea[1]['Name'] }}</h1>
                <h6 id="recDesc">{{ randHea[1]['Description'] }}</h6>
            </div>
            <div id="knowbtn">
                <a id="knowtxt" href="/restDet/{{ randHea[1]['Name'] }}">Know More</a>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div id="recRest">
                <br><br>
                <img class="img-responsive" id="recRestImg" src={{ randHea[2]['urlRest'] }}>
                <h1 class="recname">{{ randHea[2]['Name'] }}</h1>
                <h6 id="recDesc">{{ randHea[2]['Description'] }}</h6>
            </div>
            <div id="knowbtn">
                <a id="knowtxt" href="/restDet/{{ randHea[2]['Name'] }}">Know More</a>
            </div>
        </div>
 </div>

<style>
  #recRestImg{
        width:330px;
        height:220px;
    }

    #recDesc{
        display: block;
        font-size: 105%;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: .1em;
        float:left;
        height: 50px !important;
        text-align: justify;
    }

    #knowbtn{
        margin-top:150px;
        margin-left: 80px;
        border: 1px solid #969696;
        width: 180px;
        padding: 5px 45px 11px;
    }

    #knowtxt:hover{
        text-decoration:none;
        color:darkred!important;
        font-weight:800;
    }

    #knowtxt{
        text-align:center;
        color: black;
        font-size:80%;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        text-decoration:none;
    }


    #popular, #randHea, #news, #tag{
        display: block;
        font-size: 150%;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .1em;
        text-align: center;
    }

    .popline, .popline a{
        display: block;
        color:white!important;
        font-size: 115%;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .1em;
        text-align: center;
        bottom:0;
    }

    .recname{
        display: block;
        font-size: 150%;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .1em;
        text-align:center;
        height:50px;
    }

    .recbtn{
        text-align:center;
        border: 1px solid #969696;
        color: #969696;
        display:block;
        padding: 5px 32px 11px;
        height:50px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }

    .recbtn:hover{
        text-decoration:none;
        color:darkred!important;
        font-weight:bold;
    }

    a:hover{
        color:black;
    }

    h3{
        text-align: center;
        font-family: "hgw-HelveticaNeueBold",Arial,sans-serif;
        font-weight: bold;
    }

@media(max-width:991px){
    #backbtn{
        display:none;
    }

    #knowbtn{
        margin-left:auto;
        margin-right:auto;
        display:block;
    }
}

</style>

{% endblock %}

