{% extends 'layout.html' %}

{% block body %}
        {% from "includes/_formhelper.html" import render_field %}
<div class="container" id="profilediv">
    <br>
    <br>
    <div id="viewdiv">

    <h1 id="view">Edit Tako</h1>
    <div class="col-md-12">
    <img id="detailimg" class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVoweWwEb_UQKtBhQfwA78S2QXub1JHoyCox-rj8B3gnOC9M5_aQ">
    <br>
        <input type="file" id="file"/>
    </div>


        <div class="form-group col-md-12">
            <div class="row">
            <div  class="col-md-8 col-md-offset-2" class="edit">
                <div class="form-group col-md-12">
                    <br>
                     Name:<br>
                    <input type="text" name="" value="tako">
                </div>

                <div class="form-group col-md-12" class="desc">
                    Description:<br>
                    <input type="text" name="" value="Description">
                </div>

                <div class="form-group col-md-12">
                    Address:<br>
                     <input type="text" name="" value="NYP">
                </div>

                <div class="form-group col-md-12" class="location">
                    Location:<br>
                    <input type="text" name="" value="North">
                </div>

                <div class="form-group col-md-12" class="type">
                    Food Type:<br>
                    <input type="text" name="" value="None">
                </div>

                <div class="form-group col-md-12" class="price">
                     Price:<br>
                    <input type="text" name="" value="4">
                </div>

                <div class="form-group col-md-12" class="openhr">
                     Opening Hours:<br>
                    <input type="text" name="" value="10AM">
                </div>

                <div class="form-group col-md-12">
                     Closing Hours:<br>
                    <input type="text" name="" value="8PM">
                </div>
                <br>
                <br>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <br>
                                <br>
                                <input type="submit" value="Save Changes" id="submitbtn"/>
                             </div>
                        </div>
                    </div>
              </div>
            </div>
        </div>






    </div>






</div>

<style>
#profilediv {
         align: center;
         background-color: white;
         display:block;
     }

 #viewdiv{
   max-width: 1480px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
        align:center;

    }

 #view{
         color: #000;
    font-family: "hgw-HelveticaNeueBold",Arial,sans-serif;
	 font-weight: bold;
    border-bottom: 2px solid darkred;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
    font-size:200%;
      font-style: italic;
    }

#detailimg{
    height:300px;
    width:500px;
    margin-left:250px;

}

#file{
    margin-left:400px;
}

  #submitbtn{
         border-radius: 4px;
    background-color: darkred;
    border: 0;
    color: #fff!important;
    display: inline-block;
    font-size: 14px;
    text-align: center;
        height: 42px;
        width:300px;
    }

@media(max-width:991px){
    #detailimg{
        margin-left:0px;
    }
    #file{
        margin-left:0px;
    }
}
</style>

    {% endblock %}
