{% extends 'layout.html' %}

{% block body %}
    <div class="container">
    <div class="col-md-12">
        <br><br>
    <img id="deniedimg" class="img-responsive" align="middle" src="http://i.picresize.com/images/2018/02/04/sT4Yz.png">
        <h3 style="text-align:center;font-size:200%;">Oops, No Results found</h3>
        <br><br><br>
    <h3 style="text-align:center;">We checked our database and there's no such restaurant/event.
        <br>
        Click <a href="/" style="font-weight:bold;color:#4a4a4a;">here</a> to go to home page :p</h3>

    </div>


    </div>



    <style>
    #deniedimg{
         display: block;
    margin-left: auto;
    margin-right: auto;
        width:250px;

    }

    a:hover{
        color:black;
        font-weight:bold;
    }

    </style>
{% endblock %}
