{% extends 'layout.html' %}

{% block body %}
<div class="container" id="filterdiv">
    <br>
    <br>
         <h1 id="view">Edit {{ eventName }}</h1>
    {% from "includes/_formhelper.html" import render_field %}
    <form method="post">

    <div class="form-group col-md-12">
         <div class="row">
            <div class="col-md-8 col-md-offset-2" class="edit">
                <br><br>
                <div class="col-md-12">
                <img id="img" class="img-responsive" style="width: 275px; height: 275px;" src="{{ theEvent['urlEvent'] }}">
                <br>
                <input type="file" id="file"/>
                <br>
                <br>
                <br>
                </div>

                <div class="form-group col-md-12" class="eventDesc">
                    {{ render_field(form.eventDescription, class_="form-control") }}
                </div>

                <div class="form-group col-md-12" class="'eventLocation">
                    {{ render_field(form.eventLocation, class_="form-control") }}
                </div>

                <div class="form-group col-md-12" class="eventAddress">
                    {{ render_field(form.eventAddress, class_="form-control") }}
                </div>

                <div class="form-group col-md-6" class="startDate">
                    {{ render_field(form.startDate, class_="form-control") }}
                </div>

                <div class="form-group col-md-6" class="endDate">
                    {{ render_field(form.endDate, class_="form-control") }}
                </div>

                 <div class="form-group col-md-6" class="startTime">
                    {{ render_field(form.startTime, class_="form-control") }}
                </div>

                 <div class="form-group col-md-6" class="startTimeMin">
                    {{ render_field(form.startTimeMin, class_="form-control") }}
                </div>

                 <div class="form-group col-md-6" class="endTime">
                    {{ render_field(form.endTime, class_="form-control") }}
                </div>

                 <div class="form-group col-md-6" class="endTimeMin">
                    {{ render_field(form.endTimeMin, class_="form-control") }}
                </div>

                <div class="form-group col-md-12" class="ticket">
                    {{ render_field(form.ticket, class_="form-control") }}
                </div>

                <br>
                <br>
                   <div class='form-group col-md-12' id="btndiv">
                       <br>
                        <button type="submit" class="btn btn-success btn-lg" id="editbutton" onclick="myFunction()">Save Changes</button>
                    </div>
            </div>
        <br>
        <br>

    </form>
</div>
</div>
         </div>




   <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script>
   function myFunction() {

}
    function readURL2(input) {

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#img2').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }
     $("#file2").change(function() {
      readURL2(this);
    });
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#img').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#file").change(function() {
      readURL(this);
    });
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAbX0KjCpu-WKGrnj9snTRolEqomOXy0oA",
        authDomain: "python-oop.firebaseapp.com",
        databaseURL: "https://python-oop.firebaseio.com/",
        projectId: "python-oop",
        storageBucket: "python-oop.appspot.com",
        messagingSenderId: "397421551766"
      };
      firebase.initializeApp(config);
    var fileButton = document.getElementById('editbutton');
    $("#file").on("change",function (event) {
        selectedFile=event.target.files[0];


    });
    $("#file2").on("change",function (event) {
        selectedFile2=event.target.files[0];


    });

    fileButton.addEventListener('click',function(e) {

        var elem = document.getElementById("myBar");
        var elem2 = document.getElementById("myBar2");


        if(document.getElementById( 'img' ).src != "{{ theEvent['urlEvent'] }}"){
            var filename = selectedFile.name;
        }
        else{
                var postData = {
                    urlEvent:"{{ theEvent['urlEvent'] }}",

                };
                firebase.database().ref().child('/events/{{ eventid }}').update(postData)

        }

        var storageRef = firebase.storage().ref('/images/restPic/' + filename);
        var fileRef = storageRef.child(filename);
        var uploadTask = storageRef.put(selectedFile);


        uploadTask.on('state_changed', function (snapshot) {
        var percentage = snapshot.bytesTransferred / snapshot.totalBytes * 100;
            //uploader.value = percentage;
             elem.style.width = parseInt(percentage) + '%';
             elem.innerHTML=parseInt(percentage)+'%';
             elem2.style.width = parseInt(percentage) + '%';
             elem2.innerHTML=parseInt(percentage)+'%';
        }, function (error) {

        }, function () {
            var downloadURL = uploadTask.snapshot.downloadURL;
            var postData = {
                urlEvent: downloadURL,
            };
            firebase.database().ref().child('/events/{{ eventid }}').update(postData)
        });
    })


        </script>


<style>
 #view{
          display: block;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align:center;
    }

#img{
    height:300px;
    width:580px;
    margin-left:230px;

}

#file{
    margin-left:270px;
    text-align:center;
}

  #editbutton{
        width:50%;
    }


@media(max-width:991px){
    #img{
        margin-left:3px;
    }
    #file{
        margin-left:0px;
    }
     #editbutton{
        width:100%;
    }

        #btndiv br{
         display:none;
     }

}
</style>

    {% endblock %}
