{% extends 'layout.html' %}

{% block body %}
        {% from "includes/_formhelper.html" import render_field %}


    <div class="container">
    <button id="backbtn" class="btn btn-basic" style="float:left;margin-left:30px;"><a href="/events" class="back"> << view other events</a></button>
    <br><br>
        <h1 id="view">Details of  {{ currEventg['Name'] }}
     {% if currEventg['Status'] == 'Upcoming' %}
           <span class="label label-warning">Upcoming</span>

           {% elif currEventg['Status'] == 'Ongoing' %}
           <span class="label label-success">Ongoing</span>

           {% else %}
           <span class="label label-default">Ended</span>
           {% endif %}</h1>

 <div class="container">
    <div class="form-group col-md-12">
        <br><br>
        <h5 class="desc">Description Of Event: <br><br> {{ currEventg['Description'] }}  </h5>
    </div>
 </div>
</div>

<div class="container">
    <div class="form-group col-md-12">
        <div class="form-group col-md-5">
    <img id='eventimg' class="img-responsive" src={{ currEventg['urlEvent'] }}>
            </div>
        <div class="form-group col-md-4">
             <span class="icons"><p class="glyphicon glyphicon-map-marker"></p> {{ currEventg['Location'] }}</span>
              <br>
              <br>
               <span class="icons"> <p class="glyphicon glyphicon-globe"></p> {{ currEventg['Address'] }} </span>
              <br>
              <br>
               <span class="icons"> <p class="glyphicon glyphicon-tag"></p>Admission Fee: ${{ currEventg['ticket'] }} </span>
              <br>
              <br>
             <span class="icons"> <p class="glyphicon glyphicon-calendar"></p> {{ currEventg['Start'] }} to {{ currEventg['End'] }}  </span>
              <br>
              <br>
             <span class="icons"> <p class="glyphicon glyphicon-time"></p> {{ currEventg['Time Start'] }} - {{ currEventg['Time End'] }} </span>
            </div>
        <div class="form-group col-md-3">
                                {% if currEventg['Status'] !='Ended' %}
          <form method="post">
          <div>
              <button type="submit" class="btn btn-primary" style="float:right;">I'm Interested In Going</button></div></form>
           <br><br>
      <small style="float:right"> {{ currEventg['People'] }} people interested in going</small>
          </div>
              <br>

          {% endif %}
              <br>

    </div>
    </div>
</div>



      </form>


</div>
     </div>







</div>
<style>

.icons{
    font-size:110%;


}

 #view{
      display: block;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
 text-align: center;
 }

@media (max-width: 991px) {
    #br br{
        display:none
    }

    #backbtn{
        display:none;
    }
}

#eventimg{
    width:650px;
    height:380px;
}

.back:hover{
    color:black;
}















</style>

{% endblock %}
