{% extends 'layout.html' %}

{% block body %}
 <h1 id="view">Restaurants Near Your Location</h1>
    <div id="map"></div>

    <script>
    var map, infoWindow;
      function initMap() {
          var amkFoodnMarket = {lat: 1.372121, lng: 103.846678};
          var amk628 = {lat: 1.380936, lng: 103.840664};

          map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: -34.397, lng: 150.644},
              zoom: 13
          });

          infoWindow = new google.maps.InfoWindow;

          // Try HTML5 geolocation.
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function (position) {
                  var pos = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude
                  };

                  infoWindow.setPosition(pos);
                  infoWindow.setContent('Your Location');
                  infoWindow.open(map);
                  map.setCenter(pos);
              }, function () {
                  handleLocationError(true, infoWindow, map.getCenter());
              });
          } else {
              // Browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
          }
          // {#Add Markers#}

          amkFoodnMarket_Marker = new google.maps.Marker({
              position: amkFoodnMarket,
              map: map,
              title: 'Ang Mo Kio Marker and Food'

          });

          amk628_Marker = new google.maps.Marker({
              position: amk628,
              map: map,
              title: 'Ang Mo Kio 628'
          });

          google.maps.event.addListener(amkFoodnMarket_Marker, 'click', function () {
              var infowindow = new google.maps.InfoWindow({
                  content: "<h3>Ang Mo Kio Market & Food Centre</h3>" +
                  "<p>Address: 724 Ang Mo Kio Ave 6, Singapore 560724</p>" +
                  "<p>Hours: 7AM–9PM</p>" +
                  "<p>Phone: 6225 5632</p>"
              });
              infowindow.open(map, amkFoodnMarket_Marker);
          });

          google.maps.event.addListener(amk628_Marker, 'click', function () {
              var infowindow = new google.maps.InfoWindow({
                  content: "<h3>Ang Mo Kio 628 Market</h3>" +
                  "<p>Address: 724 Ang Mo Kio Ave 6, Singapore 560724</p>" +
                  "<p>Hours: Wednesday\t6:30AM–1:30PM</p>" +
                  "<p>Thursday\t6:30AM–1:30PM</p>" +
                  "<p>Friday\t6:30AM–1:30PM</p>" +
                  "<p>Saturday\t6:30AM–1:30PM</p>" +
                  "<p>Sunday\t6:30AM–1:30PM</p>" +
                  "<p>Monday\tClosed</p>" +
                  "<p>Tuesday\t6:30AM–1:30PM</p>" +
                  "<p>Phone: 9067 5142</p>"
              });
              infowindow.open(map, amk628_Marker);
          });
      }

        // {#Location Error#}
      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrGeXVb96USi1ujzqQ7wlCwc_8LzUB-yY&callback=initMap"
    async defer></script>





















<style>
      #map {
        height: 50%;
        width: 40%;
        margin:auto;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #view{
        font-weight: bold;
        font-style: italic;
        border-bottom: 2px solid darkred;
        margin-bottom: 20px;
        font-size: 15px;
        padding-bottom: 3px;
        font-size:200%;
      }
        a { color:black !important; }
        a:hover { color:red !important;}
    </style>
{% endblock %}
