{% extends 'layout.html' %}

{% block body %}
       {% from "includes/_formhelper.html" import render_field %}
<div class="container">
<br><br>
     <div class="form-group col-md-12" id="add">Forgot your password?</div>

    <form method='POST' >
         <div class="form-group col-md-12">
            <div class="row">
            <div class="col-md-8 col-md-offset-2" class="edit">
                <br><br>
                <div class="form-group col-md-12">If you do not have an account, <a href="/userRegister" style="color:blue;">click here</a> to set up a new account(is free). Enter your username and email below to receive your validation code by <b>email</b>
                    <br><br>
                 </div>
                <div class="form-group col-md-12">
                    {{ render_field(form.name, class_="form-control") }}
                </div>

                <div class="form-group col-md-12" class="desc">
                    {{ render_field(form.email, class_="form-control") }}
                </div>


              <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-11">


 </div>
                <div class="form-group col-md-12">
                    <button type="submit" id="btn">Send me a validation code</button>
                </div>
            </div>
        </div>

            </div>
        </div>
        </div>
    </form>
    </div>

{#                    <div class="form-group">#}
{#                        <div class="form-row">#}
{#                            <div class="form-group col-md-12">#}
{#                                <br>#}
{#                    <div class='btn-toolbar'>#}
{#                        <button type="submit" class="btn btn-success btn-lg" id="uploadButton">Send Me Validation Code</button>#}
{#                    </div>#}
{#                             </div>#}
{#                        </div>#}
{#                    </div>#}
{#              </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </form>#}
{#</div>#}
    <style>
      #add{
          display: block;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
 text-align: center;
     }



   #btn{
        background-color: darkred;
    border: 0;
    color: #fff!important;
    display: inline-block;
    font-size: 14px;
    text-align: center;
        height: 42px;
        width:50%;
   }

    @media(max-width:991px){
        #btn{
            width:100%;
        }
    }





    </style>

{% endblock %}
