{% extends 'layout.html' %}

{% block body %}
       {% from "includes/_formhelper.html" import render_field %}
<div class="container">
     <div class="form-group col-md-12" id="add">Validation Code</div>
    <br>
    <br>
    <form method='POST' >
         <div class="form-group col-md-12">
            <div class="row">
            <div  class="col-md-8 col-md-offset-2" class="edit">

                <div class="form-group col-md-12">
                    {{ render_field(form.code, class_="form-control") }}
                </div>




                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <br>
                    <div class='btn-toolbar'>
                        <button type="submit" class="btn btn-primary btn-lg upload-group text-center" id="uploadButton">Confirm</button>
                    </div>
                             </div>
                        </div>
                    </div>
              </div>
            </div>
        </div>

    </form>

</div>

    <style>
      #add{
          display: block;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
 text-align: center;
     }



    form{
        display: inline-block;
    }



    </style>

{% endblock %}