<!--<link rel=stylesheet type=text/css href="\static\css\home.css">-->
{% extends 'layout.html' %}
{% block body %}
<br>
<br>
    {% from "includes/_formhelper.html" import render_field %}
    <form method=post>
     <br>
        <br>
    <div class="jumbotron text-center" id="banner">
        <h1>Welcome To The Foodie</h1>
        <br>
    </div>



<div class="container" id="profilediv">
        <h3 id="tag">Search Here To See Amazing Restaurants</h3>
        <br>
{#        <div id='searchthing' class="form-group col-md-6">#}
{#            <div class="form-group col-md-8">#}

{#    <div id='searchF' class="form-group col-md-6">#}
{#        {{ render_field(form.name, class_="form-control") }}</div>#}
{#        <div class="form-group col-md-6">#}
{#        <input type="submit" value="Search" class="btn btn-info" id="searchbtn"/>#}
{##}
{#    </div>#}

        <div id='searchF' class="form-group col-md-6">
            {{ render_field(form.name,  id='search_box', class_="form-control") }}</div>
        <div  class="form-group col-md-6">
        <input type="submit" value="Search" class="btn btn-info" id="searchbtn"/>

    </div>

</div>
{#        <div class="form-group col-md-4">#}
{##}
{#        </div>#}
</div>
    </form>


<div class="container" id="profilediv">
      <div class="form-group col-md-12" id="popular">Hot & Popular restaurants!!</div>
				<hr/>


<div class="form-group col-md-12">
</div>
<div class="form-group col-md-12">


    <div class="form-group col-md-5">
		<img class="homepop" class="img responsive" src={{ hnp[2]['urlRest'] }}>
			 <h3><a href="/restDet/{{ hnp[2]['Name'] }}">{{ hnp[2]['Name'] }}</a></h3>
        <p>{{ hnp[2]['Description'] }}</p>


    <div class="form-group col-md-6">
        </div>
		<img class="homepop" class="img responsive" src={{ hnp[1]['urlRest'] }}>
			 <h3><a href="/restDet/{{ hnp[1]['Name'] }}">{{ hnp[1]['Name'] }}</a></h3>
        <p>{{ hnp[1]['Description'] }}</p>
		</div>

        <div class="form-group col-md-4">
		<img id="featuredimg" class="img responsive" src={{ hnp[0]['urlRest'] }}>
			 <h3><a href="/restDet/{{ hnp[0]['Name'] }}">{{ hnp[0]['Name'] }}</a></h3>
        <p> {{ hnp[0]['Description'] }}</p>
        </div>




         </div>
</div>

    <div class="container" id="profilediv">

 <div class="form-group col-md-12" id="recommend">Our Recommendations!!</div>
				<hr/>


                <div class="form-group col-md-4"><img class="homerec" class="img responsive" src={{ recommend[0]['urlRest'] }}>
                    <h1><a href="/restDet/{{ recommend[0]['Name'] }}">{{ recommend[0]['Name'] }}</a></h1>
                    <p>{{ recommend[0]['Description'] }}</p>
                    <p></p>
                </div>

          <div class="form-group col-md-4"><img class="homerec" class="img responsive" src={{ recommend[1]['urlRest'] }}>
              <h1><a href="/restDet/{{ recommend[1]['Name'] }}">{{ recommend[1]['Name'] }}</a></h1>
              <p>{{ recommend[1]['Description'] }}</p>

          </div>


          <div class="form-group col-md-4"><img class="homerec" class="img responsive" src={{ recommend[2]['urlRest'] }}>
              <h1><a href="/restDet/{{ recommend[2]['Name'] }}">{{ recommend[2]['Name'] }}</a></h1>
              <p>{{ recommend[2]['Description'] }}</p>
              <p></p>
          </div>

     </div>
</div>



<style>
.homerec{
    height:300px;
    width:350px;
}

#features{
    margin-top: 5px;
    margin-left: -5px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: block;
    width: 55px;
    height: 55px;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

#popular, #recommend{
    color: #000;
    font-family: "hgw-HelveticaNeueBold",Arial,sans-serif;
    font-weight: bold;
    border-bottom: 2px solid darkred;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
    font-size:200%;
     font-style: italic;
}
#searchbtn{
    margin-top: 20px;
    margin-left: 170px;}

#search_box{
    width:400px;
    margin-left: 310px;}

h3{
    text-align: center;
    font-family: "hgw-HelveticaNeueBold",Arial,sans-serif;
    font-weight: bold;
}
@media (max-width: 1024px) {
    #searchbtn{
        margin-top: 20px;
        margin-left: 130px;}

    #search_box{
        width:360px;
        margin-left: 220px;}
}
@media (max-width: 768px) {
    #searchbtn{
        margin-left: 290px;}

    #search_box{
        width:420px;
        margin-left: 130px;}
}
@media (max-width: 375px) {
    #tag{
        margin-left: 30px;
    }
    #searchbtn{
        margin-left: 100px;}

    #search_box{
        width:230px;
        margin-left: 30px;}
}
@media (max-width: 414px) {
    #tag{
        margin-left: 15px;
    }
    #searchbtn{
        margin-left: 140px;}

    #search_box{
        width:280px;
        margin-left: 25px;}
}
@media (max-width: 412px) {
    #tag{
        margin-left: 50px;
    }
    #searchbtn{
        margin-left: 140px;}

    #search_box{
        width:260px;
        margin-left: 50px;}
}
@media (max-width: 360px) {
    #tag{
        margin-left: 50px;
    }
    #searchbtn{
        margin-left: 140px;}

    #search_box{
        width:260px;
        margin-left: 40px;}
}

@media (max-width: 991px){
    {##searchbox{#}
    {#    margin-right:550px;#}

    #featured{
        width:100%;
        height:300px;
    }

}

#banner{
     background-image: url("http://lindyslanding.com/wp-content/uploads/2017/03/dining-food-Banner-1920-x-750.jpg");
    color:white;
      height:550px;
    width:100%;
}



.homepop{
    width:400px;
    height:300px;
}

#featuredimg{
    height:550px;
    width:580px;
}

@media(max-width:991px){
    #featuredimg{
        width:400px;



    }
}





</style>


{% endblock %}
