<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>The Foodie</title>
        {{map.js}}

    </head>
    <body>
        <h1 id="view">Restaurants Near Me</h1>
        <div id="map">
            {{map.html}}
        </div>

    </body>
    <style>
        #view{
            font-weight: bold;
            font-style: italic;
            border-bottom: 2px solid darkred;
            margin-bottom: 20px;
            font-size: 15px;
            padding-bottom: 3px;
            font-size:200%;
        }

    </style>
</html>