{% extends 'layout.html' %}
{% block body %}
<div class="container">
<div id='news' class="form-group col-md-12">Latest News</div>
    <hr/>
    {% for news in container %}
    <div class="form-group col-md-4"><img id='NewsImage' class="img-responsive" src="http://www.freeiconspng.com/uploads/food-icon-7.png" alt="NewsImage">
                    <h3 id="title"><a href= {{ news['link']}}>{{ news['title'] }}</a></h3>
                    <p id="date">{{ news['date'] }}</p>
                    <p></p>
                </div>
    {% endfor %}

</div>

{#<table style="width:80%; background-color: yellow; ">#}
{#{% for news in container %}#}
{#    #}
{#  <tr>#}
{#    <th rowspan="2"><img id='NewsImage' class="img-responsive" src="http://www.freeiconspng.com/uploads/food-icon-7.png" alt="NewsImage"></th>#}
{#    <td><a href= {{ news['link']}}>{{ news['title'] }}</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td>{{ news['date'] }}</td>#}
{#  </tr>#}
{##}
{#{% endfor %}#}
{#</table>#}



{#<div  id="newsfeed">#}
{#   <div class="row">#}
{##}
{#        <div class="col-sm-12 " style="background-color: yellow">#}
{#   {% for news in container %}#}
{#        <li style="list-style-type: none;"><a href= {{ news['link']}}>{{ news['title'] }}</a></li>#}
{#       <li style="list-style-type: none;">{{ news['date'] }}</li>#}
{#   {% endfor %}#}
{#        </div>#}

{#   </div>#}
{#    </div>#}
<style>
    #NewsImage{
        height:300px;
        width:350px;
        padding: 5px 5px 5px 5px;
    }
    #date{
        text-align: right;
    }
    #news{
        color: #000;
        font-family: "hgw-HelveticaNeueBold",Arial,sans-serif;
        font-weight: bold;
        border-bottom: 2px solid darkred;
        margin-bottom: 20px;
        font-size: 15px;
        padding-bottom: 3px;
        font-size:200%;
        font-style: italic;
    }
</style>

{% endblock %}

