{% extends 'layout.html' %}
{% block body %}
{#<div class="container">#}
{#<div id='news' class="form-group col-md-12">Latest News</div>#}
{#    {% for news in container %}#}
{#    <div class="form-group col-md-12"><img id='NewsImage' class="img-responsive" src="https://image.freepik.com/foto-gratis/diferentes-especias-ingredientes-de-alimentos-cuchara-de-madera-sobre-fondo-blancotable_1220-1704.jpg" alt="NewsImage">#}
{#                    <h3 id="title"><a href= {{ news['link']}}>{{ news['title'] }}</a></h3>#}
{#                    <p id="date">{{ news['date'] }}</p>#}
{#                    <p></p>#}
{#                </div>#}
{#    {% endfor %}#}
{##}
{#</div>#}
{#    <br><br>#}
{#    <div id='news' class="form-group col-md-12">News</div>#}
{#    <div class="container">#}
{#    {% for news in container %}#}
{#        <div class="row">#}
{#            <div class="col-md-4">#}
{#                <img id='NewsImage' class="img-responsive" src={{ news['image'] }} alt="NewsImage">#}
{#            </div>#}
{#            <div class="col-md-8">#}
{#                <h5>{{ news['title'] }}</h5>#}
{#                <div id="knowbtn">#}
{#                    <a id="knowtxt"  href="{{ news['link'] }}">know More</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#    </div>#}
    <br><br>
    <div id='news' class="form-group col-md-12">News</div>
    <div class="container">
     <div class="form-group col-md-12">
        {% for news in container %}
                <div class="form-group col-md-4">
                    <img id='NewsImage' class="img-responsive" src={{ news['image'] }} alt="NewsImage">
                    <div style="height:60px;width:280px;">
                    <h5 style="margin-left:10px;">{{ news['title'] }}</h5>
                    </div>
                    <br><br>
                    <div id="knowbtn">
                        <a id="knowtxt"  href="{{ news['link'] }}">Know More</a>
                    </div>
                    <br><br>
                </div>
        {% endfor %}
     </div>


    </div>

<style>
    #NewsImage{
        width: 300px;
        height: 200px;
        padding: 5px 5px 5px 5px;
    }
    #news{
        display: block;
        font-size: 150%;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .1em;
        text-align: center;
    }
    #knowbtn{
        margin-left:60px;
        border: 1px solid #969696;
        width: 180px;
        padding: 5px 45px 11px;
    }
    #knowtxt:hover{
        text-decoration:none;
        color:darkred!important;
        font-weight:800;
    }
    #knowtxt{
        text-align:center;
        color: black;
        font-size:80%;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        text-decoration:none;
    }



@media(max-width:991px){
    #textdiv br{
        display:none;
    }
}
</style>

{% endblock %}

