<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link type="text/css" rel ="stylesheet" href="../css/Homecss.css"/>
  <link type="text/css" rel ="stylesheet" href="../css/AboutUs.css"/>
  <link type="text/css" rel ="stylesheet" href="../css/dropdown.css"/>
  <link type="text/css" rel="stylesheet" href="../css/jquery-ui.min.css" />
  <script src="../js/modernizr.custom.63321.js"></script>
  <script src="../js/jquery.js"></script>
  <script src="../js/jquery-ui.min.js"></script>
  <script src="../js/searchbox.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-brand" id="logo" src="../images/logo.png" alt="logo" href="#">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" id="bar">
        <li id="links"><a href="Home.html"><span data-hover="HOME">HOME</span></a></li>
        <li id="active"><a href ="#"><span data-hover="ABOUTUS"> ABOUT US </a></li>
        <li id='links'class="dropdown"><a href ="InterestGroup.html"><span data-hover="INTERNETGROUPS"> INTEREST GROUPS</a>
        <div class="dropdown-content">
		<select class="cs-select cs-skin-underline">
					<option value="" disabled selected>Choose an Option</option>
					<option value="1" data-link="Event.html">Events</option>
					<option value="2" data-link="../Events/championscup.html">International Champions Cup 2017</option>
					<option value="3" data-link="../Events/sgfoodfestivalinfo.html">Singapore Food Festival</option>
					<option value="4" data-link="../Events/KOOZA.html">CIRQUE DU SOLEIL KOOZA</option>
					<option value="5">Iris + Omithoalum</option>
				</select>
      </div></li>
         <li id='links'><a href ="ContactUs.html"><span data-hover="CONTACTUS"> CONTACT US</a></li>
      </ul>

      <div  class="search">
      <input id="navsearch" type="text" class="form-control input-sm" maxlength="64" placeholder="Search" />
       <button id="what" type="submit" class="btn btn-primary btn-sm">Search</button>
      </div>
    </div>
  </div>
</nav>
<br><br><br><br>

<div class="container-fluid">
  <div  class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb breadcrumb-arrow">
        <li><a href="../Main/Home.html">Home</a></li>
        <li class="active"><span>About Us<span></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>

    <div class="col-sm-8">
    <h1> Members </h1>

  <!--   sol -->
{#    <img src="../images/members/Sol.png" />#}
    <h2>Soleihin</h2>
    <p> {18. The leader and designer of this website. A fan of Twice and Monsta X. <br> . Likes to watch anime.}</p>


  <div class="row">
    <div class="col-sm-6">
  <!--     jp -->
{#    <img src="../images/members/junpoh.png" />#}
    <h2>Jun Poh</h2>
    <p> {17. Loves to watch anime and read manga. <br> Feel free to DM him on his social media accounts.} </p>
    </div>

    <div class="col-sm-6">
  <!--     lily -->
{#    <img src="../images/members/Lily.png" />#}
    <h2>Lily</h2>
    <p> {18 years old.Loves watching movies and if you want to catch some movies or you know ;) , go follow her social media accounts. Instagram: <a href="https://www.instagram.com/smirky_lily/" target="_new">smirky_lily}</a></p>
    </div>

  </div>


  <div class="row">
  <div class="col-sm-6">
  <!--     ayushi -->
{#  <img src="../images/members/Ayushi.png" />#}
  <h2>Ayushi</h2>
  <p> {17. Likes Harry Potter and BTS as well as listening to Indian Songs. Likes to talk a lot and makes friends. Instagram:<a href="https://www.instagram.com/ayushi_xcx" target="_new">ayushi_xcx}</a></p>
  </div>

  <div class="col-sm-6">
  <!--   max -->
{#  <img src="../images/members/Max.png" />#}
  <h2>Max</h2>
  <p>{20. Soul is dead inside. Likes to bake and read books, play games etc. Wants to embrace death as soon as possible thanks.}</p>
  </div>
  </div>
  </div>
    <div class="col-sm-2"></div>
  </div>
  </div>

<footer class="container-fluid text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
      <p id="footertxt"> &copy; 2017 PJAMS All Rights Reserved. Privacy Policy</p>
        <a href="http://www.facebook.com" alt="facebook"><img class="fb" src="../images/facebook.png" alt="facebook"/></a>
        <a href="http://www.twitter.com" alt="twitter" ><img class="twitter" src="../images/twitter.png" alt ="twitter" /> </a>
      </div>
    </div>
  </div>
</footer>
<script src="../js/classie.js"></script>
		<script src="../js/selectFx.js"></script>
		<script>
			(function() {
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
					new SelectFx(el);
				} );
			})();
		</script>
</body>
</html>