{% extends 'layout.html' %}

{% block body %}
        {% from "includes/_formhelper.html" import render_field %}
<div class="container" id="filterdiv">
    <br>
    <br>
<div id="viewdiv">

    <h1 id="view">Details of {{ restDetail['Name'] }}</h1>
    <div class="form-group col-md-12" id="filterdiv" >
      <span class="info2"><p class="glyphicon glyphicon-usd"></p> {{ restDetail['Price'] }}</span>
        <span class="verticalLine"></span>
        <span class="info2"><p class="glyphicon glyphicon-bell"></p> {{ restDetail['Opening Hours'] }} to {{ restDetail['Closing Hours'] }}</span>
         <span class="verticalLine"></span>
        <span class="info2"><p class="glyphicon glyphicon-map-marker"></p> {{ restDetail['Location'] }}</span>
         <span class="verticalLine"></span>
          <span class="info2"><p class="glyphicon glyphicon-globe"></p> {{ restDetail['Address'] }}</span>
        <span class="verticalLine"></span>
         <span class="info2"><p class="glyphicon glyphicon-star"></p> Avg Ratings: 3.7/5</span>

    </div>
<p id="heart" class="glyphicon glyphicon-heart-empty"><span id="fav"> favourite</span></p>
</div>

<div class="form-group col-md-8">
</div>



<div id="sort">



    <div class="container" id="filterdiv">
        <div id="viewdiv">
    <img id="detailimg" class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVoweWwEb_UQKtBhQfwA78S2QXub1JHoyCox-rj8B3gnOC9M5_aQ">
    </div>
    <div class="form-group col-md-6">
         <div class="form-group col-md-6" class="value">
                 {{ restDetail['Description'] }}</div>


        </div>
    </div>


<form method=post>

      <div class="form-group col-md-12">
          <div class="form-group col-md-6" id="ratings">
              <br>
              <br>
              {{ render_field(form.ratings, class_="form-control") }}
          </div>

          <div class="form-group col-md-6" id="commentbox">
                {{ render_field(form.comments, class_="form-control") }}
                </div>
                    <div class="form-group col-md-12">
                    <input type="submit" value="Submit" class="btn btn-info" id="submitbtn"/>
                </div>
      </div>
</form>
{#Social Media#}
<div class="container" id="filterdiv">
<div class="form-group col-md-12">
    {{ share.create(title='Share with: ') }}
{#-----------------------------------------------------------------------------#}
        <div class="form-group col-md-12">
           <h2 id="pastcomments">Past Comments</h2>
       {% for i in range(comments | length) %}
           <div class="form-group col-md-12">
               <br>
               <br>
           <img src="https://www.revenueriver.co/hs-fs/hub/177047/file-2110622193-png/user_profile_img.png" class="img-responsive" class="img-circle" id="userpic">
           <div class="form-group col-md-12">
           <div class="form-group col-md-4" id="usernames">{{ users[i] }}</div>
           <h2>{{ comments[i] }}</h2>
               {% for i in range(ratings[i]) %}
                   <img id="ratingstar" src="https://t3.ftcdn.net/jpg/01/09/84/42/160_F_109844239_A7MdQSDf4y1H80cfvHZuSa0zKBkZ68S7.jpg">
                   {% endfor %}
           {{ avgratg }}
           </div>
           </div>
       {% endfor %}
{#        <table class="table table-bordered">#}
{#        <thead>#}
{#        <br>#}
{#        <br>#}
{#        <tr>#}
{#            <th>Users</th>#}
{#            <th>Comments</th>#}
{#            <th>Ratings</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for i in feedback %}#}
{#            <tr>#}
{##}
{##}
{#                    <td> {{ i['User'] }}</td>#}
{#                    <td> {{ i['Comment'] }}</td>#}
{#                    <td>#}
{#                {% for i in range(i['Rating']) %}#}
{#                    <img src="https://t3.ftcdn.net/jpg/01/09/84/42/160_F_109844239_A7MdQSDf4y1H80cfvHZuSa0zKBkZ68S7.jpg">#}
{##}
{#                {% endfor %}#}
{#                    </td>#}
{##}
{##}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
    </div>
</div>
</div>

   <style>
   #infodiv{
       margin: 0;
    padding: 0;
   }
    #viewdiv{
   max-width: 1480px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
        align:center;

    }

    #view{
         color: #000;
    font-family: "hgw-HelveticaNeueBold",Arial,sans-serif;
	 font-weight: bold;
    border-bottom: 2px solid darkred;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
    font-size:200%;
    }

    #pastcomments{
         color: #000;
    font-family: "hgw-HelveticaNeueBold",Arial,sans-serif;
	 font-weight: bold;
    font-size: 15px;
    padding-bottom: 3px;
    font-size:200%;
    }


    .value {
        font-size: 30px;
        font-weight: bold;

    }

   #ratings{
       display:block;
       float:right;
   }

   #submitbtn{
       /*border-radius: 4px;*/
    background-color: darkred;
    border: 0;
    color: #fff!important;
    display: inline-block;
    font-size: 14px;
    text-align: center;
        height: 42px;
        width:250px;

   }

   th{
       font-family: "hgw-HelveticaNeueBold",Arial,sans-serif;
	 font-weight: bold;
       font-size:18px;
       color: darkred;
       font-style:italic;

   }

   table img {
       height:20px;
       width:20px;

   }

   #commentbox{
        max-width: 525px;
        padding: 20px 12px 10px 20px;
        font: 13px Arial, Helvetica, sans-serif;
         align:center;
   }

   .verticalLine{
       border-left:2px solid darkred;
     height:150px;
     right:249px;
     top:10px;
     margin-right: 17px;
   }


   .info2{
       font-size:150%;
         margin-right: 17px;
   }

   #detailimg{
        display: inline-block;
        float: left;
        height:250px;
        width:450px;

   }

   #fav{
       float:right;
       font-size:15px;

   }

   #heart{
       float:right;
   }


   #userpic{
       height:120px;
       width:120px;
   }

   #usernames{
       font-weight:bold;
       font-size:110%;
   }

   #ratingstar{
        height:20px;
       width:20px;
        display: inline-block;
       text-align:center;
   }
@media (max-width: 991px) {




}








    </style>
{#        {% for i in feedback %}#}
{##}
{#<div class="form-group col-md-8">#}
{#    <p id="puser"> Past Comments</p>#}
{#    </div>#}
{##}
{#    <div class="form-group col-md-6">#}
{#    <p id="user"> {{ i['User'] }}</p>#}
{#     <div class="form-group col-md-12">#}
{#    <p id="comment">Comment: {{ i['Comment'] }} </p>#}
{#    </div>#}
{#    </div>#}
{##}
{##}
{##}
{#        {% endfor %}#}





{#</div>#}
{% endblock %}
