{% extends 'layout.html' %}

{% block body %}
        {% from "includes/_formhelper.html" import render_field %}
<div class="container" id="profilediv">
    <br>
    <br>
    <div id="viewdiv">

    <h1 id="view">{{ rest['Name'] }}</h1>


        <form method="post">
        <div class="form-group col-md-12">

            <div class="row">
            <div  class="col-md-8 col-md-offset-2" class="edit">
                <img id = 'img' style="width: 275px; height: 275px;" src={{ restPic }}>
                <br>
                <br>
                <input type="file" id="file"/>
                <br>
                <br>
                <br>

                <div class="form-group col-md-12">
                    {{ render_field(form.desc, class_="form-control") }}
                </div>

                <div class="form-group col-md-12" class="desc">
                    {{ render_field(form.address, class_="form-control") }}
                </div>

                <div class="form-group col-md-12">
                    {{ render_field(form.location, class_="form-control") }}
                </div>

                <div class="form-group col-md-12" class="location">
                    {{ render_field(form.foodType, class_="form-control") }}
                </div>

                <div class="form-group col-md-12" class="type">
                    {{ render_field(form.price, class_="form-control") }}
                </div>

                <div class="form-group col-md-12" class="price">
                     {{ render_field(form.openH, class_="form-control") }}
                </div>

                <div class="form-group col-md-12" class="openhr">
                    {{ render_field(form.closingH, class_="form-control") }}
                </div>


                <br>
                <br>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <br>
                                <br>
                    <div class='btn-toolbar'>
                        <button type="submit" class="btn btn-primary btn-lg upload-group text-center" id="uploadButton" onclick="myFunction()">Save Changes</button>
                    </div>
                             </div>
                        </div>
                    </div>
              </div>
            </div>
        </div>
        </form>


    </div>

</div>

    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script>
   function myFunction() {

}
    function readURL2(input) {

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#img2').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }
     $("#file2").change(function() {
      readURL2(this);
    });
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#img').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#file").change(function() {
      readURL(this);
    });
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAbX0KjCpu-WKGrnj9snTRolEqomOXy0oA",
        authDomain: "python-oop.firebaseapp.com",
        databaseURL: "https://python-oop.firebaseio.com/",
        projectId: "python-oop",
        storageBucket: "python-oop.appspot.com",
        messagingSenderId: "397421551766"
      };
      firebase.initializeApp(config);
    var fileButton = document.getElementById('uploadButton');
    $("#file").on("change",function (event) {
        selectedFile=event.target.files[0];


    });
    $("#file2").on("change",function (event) {
        selectedFile2=event.target.files[0];


    });

    fileButton.addEventListener('click',function(e) {

        var elem = document.getElementById("myBar");
        var elem2 = document.getElementById("myBar2");


        if(document.getElementById( 'img' ).src != "{{ restPic }}"){
            var filename = selectedFile.name;
        }
        else{
                var postData = {
                    urlRest:"{{ restPic }}",
                };

                firebase.database().ref().child('/restaurants/{{ restid }}').update(postData)

        }

        var storageRef = firebase.storage().ref('/images/restPic/' + filename);
        var fileRef = storageRef.child(filename);
        var uploadTask = storageRef.put(selectedFile);


        uploadTask.on('state_changed', function (snapshot) {
        var percentage = snapshot.bytesTransferred / snapshot.totalBytes * 100;
            //uploader.value = percentage;
             elem.style.width = parseInt(percentage) + '%';
             elem.innerHTML=parseInt(percentage)+'%';
             elem2.style.width = parseInt(percentage) + '%';
             elem2.innerHTML=parseInt(percentage)+'%';
        }, function (error) {

        }, function () {
            var downloadURL = uploadTask.snapshot.downloadURL;
            var postData = {
                urlRest: downloadURL,
            };

            firebase.database().ref().child('/restaurants/{{ restid }}').update(postData)
        });
    })


        </script>

<style>
#profilediv {
         align: center;
         background-color: white;
         display:block;
     }

 #viewdiv{
   max-width: 1480px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
        align:center;

    }

 #view{
         color: #000;
    font-family: "hgw-HelveticaNeueBold",Arial,sans-serif;
	 font-weight: bold;
    border-bottom: 2px solid darkred;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
    font-size:200%;
      font-style: italic;
    }

#detailimg{
    height:300px;
    width:580px;
    margin-left:250px;

}

#file{
    margin-left:400px;
}

  #submitbtn{
         border-radius: 4px;
    background-color: darkred;
    border: 0;
    color: #fff!important;
    display: inline-block;
    font-size: 14px;
    text-align: center;
        height: 42px;
        width:300px;
    }

@media(max-width:991px){
    #detailimg{
        margin-left:0px;
    }
    #file{
        margin-left:0px;
    }
     #submitbtn{
        width:100%;
    }

}

</style>

    {% endblock %}
