{% extends 'layout.html' %}

{% block body %}
<br>
<br>
<div id="viewdiv">

    <h1 id="view">Details of {{ restDetail['Name'] }}</h1>
    <br/>




    <div id="sort">



    </div>


    <br>
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name of Restaurants</th>
            <th>Description</th>
            <th>Location</th>
            <th>Opening Hours</th>
            <th>Closing Hours</th>
        </tr>
        </thead>
        <tbody>

            <tr>

                <td>{{ restDetail['Name'] }}</td>

                    <td> {{ restDetail['Description'] }}</td>

                    <td>{{ restDetail['Food Type'] }}</td>

                    <td>{{ restDetail['Location'] }}</td>

                    <td>{{ restDetail['Address'] }}</td>

                <td>{{ restDetail['Opening Hours'] }}</td>

                <td>{{ restDetail['Closing Hours'] }}</td>

                <td>{{ restDetail['Price'] }}</td>

                <td>{{ restDetail['Comments'] }}</td>

                <!--<td><a href="" class="btn btn-warning">Update</a></td>-->
                <!--<td><form action="" method="post">-->
                    <!--<input type="submit" value="Delete" class="btn btn-danger" onclick="return session['test']= True"></form></td>-->

            </tr>


        </tbody>
    </table>
</div>

{% endblock %}
