{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    <div class="container">
    <h1 id="register">Edit Your Profile</h1>
    <br>
    <form method=post>
            <div class="row">
            <div class="col-md-8 col-md-offset-2" class="edit">
                   <br><br>
                <div class="col-md-12">
               <img id='img' class="img-responsive" style="width: 275px; height: 275px;" src={{ proPic }}>
                <br>
                <input type="file" id="file"/>
                <br>
                <br>
                <br>
                </div>
                 {{ render_field(form.password, class_="form-control") }}
                <br>
                   {{ render_field(form.confirm, class_="form-control") }}
                <br>
                 {{ render_field(form.minPrice, class_="form-control") }}
                <br>
                {{ render_field(form.maxPrice, class_="form-control") }}
                <br>
                {{ render_field(form.foodType, class_="form-control") }}
                <br>
                {{ render_field(form.email, class_="form-control")  }}
                <br>
                <br>
               <div class='btn-toolbar'>
                   <button type="submit" class="btn btn-success btn-lg" id="editButton" onclick="myFunction()">Save Changes</button>
                </div>
            </div>
            </div>
        <br>
        <br>


    </form>
</div>



              <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script>
   function myFunction() {
    window.location = "/userProfile"
}
    function readURL2(input) {

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#img2').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }
     $("#file2").change(function() {
      readURL2(this);
    });
    function readURL(input) {
    alert('ok')
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#img').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#file").change(function() {
      readURL(this);
    });
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAbX0KjCpu-WKGrnj9snTRolEqomOXy0oA",
        authDomain: "python-oop.firebaseapp.com",
        databaseURL: "https://python-oop.firebaseio.com/",
        projectId: "python-oop",
        storageBucket: "python-oop.appspot.com",
        messagingSenderId: "397421551766"
      };
      firebase.initializeApp(config);
    var fileButton = document.getElementById('uploadButton');
    $("#file").on("change",function (event) {
        selectedFile=event.target.files[0];


    });
    $("#file2").on("change",function (event) {
        selectedFile2=event.target.files[0];


    });

    fileButton.addEventListener('click',function(e) {

        var elem = document.getElementById("myBar");
        var elem2 = document.getElementById("myBar2");


        if(document.getElementById( 'img' ).src != "{{ proPic }}"){
            var filename = selectedFile.name;
        }
        else{
                var postData = {
                    urlProfile:"{{ proPic }}",
                };

                firebase.database().ref().child('/allUsers/{{ theKey }}').update(postData)

        }

        var storageRef = firebase.storage().ref('/images/profilePic/' + filename);
        var fileRef = storageRef.child(filename);
        var uploadTask = storageRef.put(selectedFile);


        uploadTask.on('state_changed', function (snapshot) {
        var percentage = snapshot.bytesTransferred / snapshot.totalBytes * 100;
            //uploader.value = percentage;
             elem.style.width = parseInt(percentage) + '%';
             elem.innerHTML=parseInt(percentage)+'%';
             elem2.style.width = parseInt(percentage) + '%';
             elem2.innerHTML=parseInt(percentage)+'%';
        }, function (error) {

        }, function () {
            var downloadURL = uploadTask.snapshot.downloadURL;
            var postData = {
                urlProfile: downloadURL,

            };
            firebase.database().ref().child('/allUsers/{{ theKey }}').update(postData)
        });
    })


        </script>

<style>
    #register{
        display: block;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
 text-align: center;
    }


#img{
    margin-left:240px;
}




#file{
    margin-left:270px;
    text-align:center;
}

 #editButton{
        width:50%;
    }

@media (max-width: 991px) {
    #img{
        margin-left:0px;
    }

      #file{
        margin-left:0px;
    }

       .btn-toolbar br{
         display:none;
     }

        #editButton{
        width:100%;
    }

}





</style>

{% endblock %}
