{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
        <div class="container" id="profilediv">
    <br>
    <br>
    <ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="active"><a href="#tab1" data-toggle="tab">My Profile!</a></li>
    <li><a href="#tab2" data-toggle="tab">My Favourites</a></li>
    <li><a href="#tab3" data-toggle="tab">Events Interested</a></li>
    <li><a href="#tab4" data-toggle="tab">My Restaurants</a></li>
     <li><a href="#tab5" data-toggle="tab">My Events</a></li>
  </ul>

{#    home tab#}

  <div class="tab-content  clearfix">
  <div class="tab-pane active" id="tab1">
    <div class="col-md-12">
      <figure class="col-md-4">
        <br>
          <br>
          <br>
             <img src={{ proPic }} class="img-responsive" id="profilepic">
            <p id="profilename"> {{ user['Username'] }} </p>
        </figure>
        <div class="col-md-6">
            <br>
            <br>
            <br>
             <p class="userinfo">Preferred price range: <span style="font-weight: bold;"> ${{  user['minPrice'] }} - ${{ user['maxPrice'] }}</span></p>
            <br>
            <p class="userinfo">Preferred Food Type:<span style="font-weight: bold;"> {{  user['Food Types'] }} </span></p>
            <br>
            <p class="userinfo">Email: <span style="font-weight: bold;">{{ user['Email']  }} </span></p>
            <br>
            <br>
            </div>
            <div class="col-md-2"></div>
        <a href="/userEdit">
                  <button id="edit" >Edit profile</button></a>
            </div>
    </div>

     <div class="tab-pane" id="tab2">
         {% for i in favRest %}
         <div class="col-md-12">
         <div class="col-md-3">
            <br>
             <br>
         <img id="detailimg" class="img-responsive" src={{ i['urlRest'] }}>
            <br>
         </div>
        <div class="col-md-8">
            <br>
          <h1><a href="/restDet/{{ i['Name'] }}">{{ i['Name'] }}</a></h1>
          <p> {{ i['Description'] }}</p>
        </div>
        <div class="col-md-1">
        <br>
        <br>
        <span class="glyphicon glyphicon-heart"></span>
         </div>
         </div>
    <hr>
         {% endfor %}

     </div>

    <div class="tab-pane" id="tab3">
        {% for i in goingEvent %}

          <div class="col-md-12">
     <div class="col-md-3">
<br>
 <br>
         <img id="detailimg" class="img-responsive" src={{ i['urlEvent'] }}>
     <br>
     </div>
     <div class="col-md-7">
         <br>
     <h1><a href="/events/{{ i['Name'] }}">{{ i['Name'] }}</a></h1>
        <p> {{ i['Description'] }}</p>
     </div>
    <div class="col-md-2">
        <br>
        <br>
        <span><small>status: interested in going</small></span>
    </div>
          </div>
        <hr>
    {% endfor %}
</div>

   <div class="tab-pane" id="tab4">

       {% for i in allEdit %}
           <div class="col-md-12">
     <div class="col-md-3">
<br><br>
         <img id="detailimg" class="img-responsive" src={{ i['urlRest'] }}>
         </div>
     <div class="col-md-7">
         <br>
     <h1><a href="/restDet/{{ i['Name'] }}">{{ i['Name'] }}</a> </h1>
        <p> {{ i['Description'] }}</p>
     </div>
     <div class="col-md-2">
        <br>
        <br>
         <a href="/restEdit/{{ i['Name'] }}"><button id="editrest" >Edit Restaurant</button></a>
         </div>
         </div>
<hr>

        {% endfor %}
    </div>

  <div class="tab-pane" id="tab5">
      {% for i in allEvent %}

       <div class="col-md-12">
         <div class="col-md-3">
            <br>
             <br>
         <img id="detailimg" class="img-responsive" src={{ i['urlEvent'] }}>
            <br>
         </div>
        <div class="col-md-8">
            <br>
          <h1><a href="/events/{{ i['Name'] }}">{{ i['Name'] }}</a> </h1>
          <p> {{ i['Description'] }}</p>
        </div>
        <div class="col-md-1">
        <br>
        <br>
         <a href="/eventEdit/{{ i['Name'] }}"><button id="editrest" >Edit Event</button></a>
         </div>
         </div>
    <hr>
{% endfor %}
  </div>



        </div>






    <style>
     #profile{
          font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid darkred;
    margin-bottom:20px;
    font-size: 15px;
    padding-bottom: 3px;
    font-size:200%;

    }

     #profilepic{
         align:center;
         width:320px;
         height:320px;
     }

     #profilediv {
         align: center;
         background-color: white;
         display:block;
     }


#edit, #editrest{
     background-color: darkred;
    border: 0;
    color: #fff!important;
    display: inline-block;
    font-size: 14px;
    text-align: center;
        height: 42px;
        width:250px;
    float:right;
    overflow:auto;
}



#profilename{
    font-weight:bold;
    font-size:300%;
}

@media(max-width:991px) {
    #edit {
        width: 60%;
    }

    #profilename {
        text-justify: auto;
    }

    #editrest{
        margin-top:30px;
        margin-bottom:30px;
        width:60%;
        margin-left:80px;
    }



}


a:hover{
     text-decoration: none;
}

    .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 100%;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

    #detailimg{
        height:150px;
        width:250px;
    }

</style>

{% endblock %}

