{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    <div class="container" id="profilediv">
    <br>
        <br>
    <h1 id="register">Edit Your Profile</h1>
    <br>
    <form method=post>
            <div class="row">
            <div  class="col-md-8 col-md-offset-2" class="edit">
                <img src="https://www.revenueriver.co/hs-fs/hub/177047/file-2110622193-png/user_profile_img.png" class="img-responsive" class="img-circle" width="304" height="236">
                <br>
                <br>
                <button class="btn btn-default" id="imgbtn" type="submit">Choose Image</button>
                <br>
                <br>
                <br>
                 {{ render_field(form.user, class_="form-control") }}
                  <br>
                 {{ render_field(form.password, class_="form-control") }}
                <br>
                   {{ render_field(form.passwordC, class_="form-control") }}
                <br>
                 {{ render_field(form.price, class_="form-control") }}
                <br>
                {{ render_field(form.foodType, class_="form-control") }}
                <br>
                {{ render_field(form.email, class_="form-control")  }}
                <br>
                <br>
               <div class='btn-toolbar'>
                 <input class="btn btn-success" type="submit" value="Save Changes" class="btn btn-info" id="registerbtn"/>
                <input class="btn btn-Basic" type="submit" value="Cancel" id="cancelbtn"/>
                </div>
            </div>
            </div>
        <br>
        <br>


    </form>
</div>

<style>
    #register{
         font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid darkred;
    margin-bottom:20px;
    font-size: 15px;
    padding-bottom: 3px;
    font-size:200%;

    }


    #registerbtn{
        border-radius: 4px;
    border: 0;
    color: #fff!important;
    display: inline-block;
    font-size: 14px;
    text-align: center;
        height: 42px;
        width:370px;
        font-size:120%;

    }

.row img{
    margin-left:200px;
}

 #profilediv {
         align: center;
         background-color: white;
         display:block;
     }

.edit{
   margin-left:120px;
}

#imgbtn{
    margin-left:300px;

}

#cancelbtn{
     text-align: center;
        height: 42px;
        width:370px;
        font-size:120%;
    float:right;

}

@media (max-width: 991px) {
    .row img{
        float:left;
        margin-left:0px;
    }

    #imgbtn{
        margin-left:100px;
    }

}





</style>

{% endblock %}
