{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    <div class="container" id="profilediv">
    <br>
        <br>
    <h1 id="register">Edit Your Profile</h1>
    <br>
    <form method=post>
            <div class="row">
            <div  class="col-md-8 col-md-offset-2" class="edit">
                <img id = 'img' class="img-circle" style="width: 275px; height: 275px;" src={{ proPic }}>
                <br>
                <br>
                <input type="file" id="file"/>
                <br>
                <br>
                <br>
                 {{ render_field(form.password, class_="form-control") }}
                <br>
                   {{ render_field(form.passwordC, class_="form-control") }}
                <br>
                 {{ render_field(form.price, class_="form-control") }}
                <br>
                {{ render_field(form.foodType, class_="form-control") }}
                <br>
                {{ render_field(form.email, class_="form-control")  }}
                <br>
                <br>
               <div class='btn-toolbar'>
                   <button type="submit" class="btn btn-primary btn-lg upload-group text-center" id="uploadButton" onclick="myFunction()">Save Changes</button>

                <input class="btn btn-Basic" type="submit" value="Cancel" id="cancelbtn"/>
                </div>
            </div>
            </div>
        <br>
        <br>


    </form>
</div>



              <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script>
   function myFunction() {
    window.location = "/userProfile"
}
    function readURL2(input) {

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#img2').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }
     $("#file2").change(function() {
      readURL2(this);
    });
    function readURL(input) {
    alert('ok')
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#img').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#file").change(function() {
      readURL(this);
    });
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAbX0KjCpu-WKGrnj9snTRolEqomOXy0oA",
        authDomain: "python-oop.firebaseapp.com",
        databaseURL: "https://python-oop.firebaseio.com/",
        projectId: "python-oop",
        storageBucket: "python-oop.appspot.com",
        messagingSenderId: "397421551766"
      };
      firebase.initializeApp(config);
    var fileButton = document.getElementById('uploadButton');
    $("#file").on("change",function (event) {
        selectedFile=event.target.files[0];


    });
    $("#file2").on("change",function (event) {
        selectedFile2=event.target.files[0];


    });

    fileButton.addEventListener('click',function(e) {

        var elem = document.getElementById("myBar");
        var elem2 = document.getElementById("myBar2");




        var filename = selectedFile.name;
        var storageRef = firebase.storage().ref('/images/profilePic/' + filename);
        var fileRef = storageRef.child(filename);
        var uploadTask = storageRef.put(selectedFile);


        uploadTask.on('state_changed', function (snapshot) {
        var percentage = snapshot.bytesTransferred / snapshot.totalBytes * 100;
            //uploader.value = percentage;
             elem.style.width = parseInt(percentage) + '%';
             elem.innerHTML=parseInt(percentage)+'%';
             elem2.style.width = parseInt(percentage) + '%';
             elem2.innerHTML=parseInt(percentage)+'%';
        }, function (error) {

        }, function () {
            var postKey = firebase.database().ref('Posts/').push().key;
            var downloadURL = uploadTask.snapshot.downloadURL;

            var updates = {};
            var postData = {
                urlProfile: downloadURL,
                Username:'placeholder'
            };
            updates['/allUsers/{{ theKey }}'] = postData;

            firebase.database().ref().update(updates);
        });
    })


        </script>

<style>
    #register{
         font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid darkred;
    margin-bottom:20px;
    font-size: 15px;
    padding-bottom: 3px;
    font-size:200%;

    }


    #uploadButton{
        border-radius: 4px;
    border: 0;
    color: #fff!important;
    display: inline-block;
    font-size: 14px;
    text-align: center;
        height: 42px;
        width:370px;
        font-size:120%;

    }

.row img{
    margin-left:200px;
}

 #profilediv {
         align: center;
         background-color: white;
         display:block;
     }

.edit{
   margin-left:120px;
}

#file{
    margin-top:300px;

}

#cancelbtn{
     text-align: center;
        height: 42px;
        width:370px;
        font-size:120%;
    float:right;

}

@media (max-width: 991px) {
    .row img{
        float:left;
        margin-left:0px;
    }

    #file{
        margin-left:100px;
    }

}





</style>

{% endblock %}
