{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
<br>
<br>
<div id="registerdiv">
    <div class="form-group col-md-4">

            </div>
    <h1 id="register">Sign Up Now!</h1>
    <p>Register for the Foodie Account now and start sharing your dining experience!</p>
    <br>
    <form method="POST" >
        <div class="form-group">
            <div class="form-group col-md-4">

            </div>
            <div class="form-group col-md-8">
                <div class="form-group col-md-12">
                    {{ render_field(form.user, class_="form-control") }}
                </div>
                <div class="form-group col-md-12">
                    {{ render_field(form.password, class_="form-control") }}
                </div>

                <div class="form-group col-md-12">
                    {{ render_field(form.passwordC, class_="form-control") }}
                </div>

                <div class="form-group col-md-12">
                    {{ render_field(form.price, class_="form-control") }}
                </div>
                <div class="form-group col-md-12">
                    {{ render_field(form.foodType, class_="form-control") }}
                </div>
                <div class="form-group col-md-12">
                    {{ render_field(form.email, class_="form-control")  }}
                    <p id="email">(Optional) Sign up with your email to recieve monthly subscription letter of The Foodie and exclusive discount codes!</>
                </div>


<div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-11">


                </div>
                <div class="form-group col-md-12">
                    <input type="submit" value="Register" class="btn btn-info" id="registerbtn"/>
                </div>
            </div>
        </div>

            </div>
        </div>




                 <!--<div class="form-group">-->
            <!--<div class="form-row">-->
                <!--<div class="form-group col-md-11">-->


                <!--</div>-->
                <!--<div class="form-group col-md-1">-->
                    <!--<input type="submit" value="Submit" class="btn btn-info"/>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </form>
</div>

<style>
    #register{
         font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid darkred;
    margin-bottom:20px;
    font-size: 15px;
    padding-bottom: 3px;
    font-size:200%;

    }

     #registerdiv {
        max-width: 980px;
        padding: 20px 12px 10px 20px;
        font: 13px Arial, Helvetica, sans-serif;
         align:center;



    }

    #registerbtn{
        border-radius: 4px;
    background-color: darkred;
    border: 0;
    color: #fff!important;
    display: inline-block;
    font-size: 14px;
    /*line-height: 40px;*/
    /*min-width: 150px;*/
    /*height: 42px;*/
    text-align: center;
        height: 42px;
        width:250px

    }

    #email {
        font-size:12px;
        font-weight: bold;
        color: black;

    }

</style>

{% endblock %}
