{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}

 <div class="container">
    <br>

    <div class="form-group col-md-12" id="signup">Register Now!</div>
    <br>
    <form method=post >
         <div class="form-group col-md-12">
            <div class="row">
            <div  class="col-md-8 col-md-offset-2" class="edit">
                <div class="form-group col-md-12">
                    <br>
                    <br>
                <img id="img" src="https://www.revenueriver.co/hs-fs/hub/177047/file-2110622193-png/user_profile_img.png" class="img-responsive" width="304" height="304">
                <br>
                <br>
                <input type="file" id="file"/>
                <br>
                <br>
                <br>
                </div>

                <div class="form-group col-md-12">
                    {{ render_field(form.user, class_="form-control") }}
                </div>
                <div class="form-group col-md-12">
                    {{ render_field(form.password, class_="form-control") }}
                </div>

                <div class="form-group col-md-12">
                    {{ render_field(form.passwordC, class_="form-control") }}
                </div>

                <div class="form-group col-md-6">
                    {{ render_field(form.minPrice, class_="form-control") }} 
                </div>
                <div class="form-group col-md-6">
                    {{ render_field(form.maxPrice, class_="form-control") }}
                </div>
                <div class="form-group col-md-12">
                    {{ render_field(form.foodType, class_="form-control") }}
                </div>
                <div class="form-group col-md-12">
                    {{ render_field(form.email, class_="form-control")  }}
                    <p id="email">(Optional) Sign up with your email to recieve monthly subscription letter of The Foodie and exclusive discount codes!</p>
                </div>


                    <div class='btn-toolbar'>
                        <button type="submit" class="btn btn-primary btn-lg upload-group text-center" id="uploadButton" onclick="myFunction()">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </form>




                 <!--<div class="form-group">-->
            <!--<div class="form-row">-->
                <!--<div class="form-group col-md-11">-->


                <!--</div>-->
                <!--<div class="form-group col-md-1">-->
                    <!--<input type="submit" value="Submit" class="btn btn-info"/>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
              <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script>
   function myFunction() {

}
    function readURL2(input) {

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#img2').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }
     $("#file2").change(function() {
      readURL2(this);
    });
    function readURL(input) {

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#img').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#file").change(function() {
      readURL(this);
    });
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAbX0KjCpu-WKGrnj9snTRolEqomOXy0oA",
        authDomain: "python-oop.firebaseapp.com",
        databaseURL: "https://python-oop.firebaseio.com/",
        projectId: "python-oop",
        storageBucket: "python-oop.appspot.com",
        messagingSenderId: "397421551766"
      };
      firebase.initializeApp(config);
    var fileButton = document.getElementById('uploadButton');
    $("#file").on("change",function (event) {
        selectedFile=event.target.files[0];


    });
    $("#file2").on("change",function (event) {
        selectedFile2=event.target.files[0];


    });

    fileButton.addEventListener('click',function(e) {

        var elem = document.getElementById("myBar");
        var elem2 = document.getElementById("myBar2");



        if(document.getElementById( 'img' ).src != "https://www.revenueriver.co/hs-fs/hub/177047/file-2110622193-png/user_profile_img.png"){
        var filename = selectedFile.name;

        }
        else{

                var postData = {
                    urlProfile:"https://www.revenueriver.co/hs-fs/hub/177047/file-2110622193-png/user_profile_img.png"
                };

                firebase.database().ref().child('/allUsers/user{{ count }}').update(postData)

        }
        var storageRef = firebase.storage().ref('/images/profilePic/' + filename);
        var fileRef = storageRef.child(filename);
        var uploadTask = storageRef.put(selectedFile);


        uploadTask.on('state_changed', function (snapshot) {
        var percentage = snapshot.bytesTransferred / snapshot.totalBytes * 100;
            //uploader.value = percentage;
             elem.style.width = parseInt(percentage) + '%';
             elem.innerHTML=parseInt(percentage)+'%';
             elem2.style.width = parseInt(percentage) + '%';
             elem2.innerHTML=parseInt(percentage)+'%';
        }, function (error) {

        }, function () {
            if(document.getElementById( 'img' ).src != "https://www.revenueriver.co/hs-fs/hub/177047/file-2110622193-png/user_profile_img.png") {
                var downloadURL = uploadTask.snapshot.downloadURL;
                var postData = {
                    urlProfile: downloadURL,
                };

                firebase.database().ref().child('/allUsers/user{{ count }}').update(postData)

            }

        });
    })


        </script>

</div>

<style>
{#    body{#}
{#    background-image: url("https://wallpapertag.com/wallpaper/full/7/1/0/60015-cool-food-background-3800x2500-iphone.jpg") ;#}
{#    background-color: rgba(255,255,255,0.2);#}
{#     background-blend-mode: lighten;#}
{#    background-repeat: no-repeat;#}
{#     background-size: cover;#}
{#    opacity:0.9;#}
{#}#}

      #file{
  margin-left:250px;

}

    #uploadButton{
        background-color: darkred;
    border: 0;
    color: #fff!important;
    display: inline-block;
    font-size: 14px;
    text-align: center;
        height: 42px;
        width:50%;
        margin-left:20px;
    }


    #email {
        font-size:12px;
        font-weight: bold;
        color: black;

    }

{#    .line{#}
{#    border-style: solid;#}
{#         border-top-color:grey!important;#}
{#        border-bottom-color:white;#}
{#          border-left-color:white;#}
{#          border-right-color:white;#}
{#        text-align:center;#}
{#        width:30px;#}
{#        margin-left:20px;#}
{#}#}
#signup{
     display: block;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
         text-align:center;
}



#img{
    margin-left:200px;
}

@media(max-width:991px) {
    #img {
        margin-left: 0px;
    }

    #file {
        margin-left: 0px;
    }

    #uploadButton {
        width: 90%;
    }
{#    .line{#}
{#    display:none#}
{#}#}

}




@media(max-width: 1024px){
    #img{
       text-align:center;
         margin-left:0px;
        }
}

</style>

{% endblock %}
