{% extends 'layout.html' %}

{% block body %}
        {% from "includes/_formhelper.html" import render_field %}
  <div class="container" id="filterdiv">
         <br>
        <br>
<div id="viewdiv">
    <h1 id="view">Results</h1>
    <br/>

<form method="post">
      <div class="form-group col-md-12">
            <p id="lengthlist">{{ lengthList }} results</p>
    <div class="form-group col-md-4">
        {{ render_field(form.sort, class_="form-control") }}
    </div>
        <div class="form-group col-md-4">
            <button type="submit" id="sortbtn">Sort</button>
        </div>
           </div>
</form>

        {% for i in Restaurant %}

<div class="col-md-12">
    <div class="col-md-4">
        <h1 id="restnames"><a href="/restDet/{{ i['Name'] }}">{{ i['Name'] }}</a></h1>
        <br>
         <img id="detailimg" class="img-responsive" src={{ i['urlRest'] }}>
    <br>
    </div>
    <div class="col-md-6">
        <br>
        <br>
        <br>
        <br>
        <br>
        <p id="description"> {{ i['Description'] }} </p>
        <br>
        <br>
         <div class="col-md-4" id="avg">
        <span>Avg ratings: {{ i['Average Rating'] }}/5</span>
             <br>
             <br>
         <span>Average Price: 4</span>
    </div>
    </div>


</div>
            <hr>


        {% endfor %}
</div>

{#    <table class="table table-bordered">#}
{#        <thead>#}
{#        <tr>#}
{#            <th>Name of Restaurants</th>#}
{#            <th>Description</th>#}
{#            <th>Location</th>#}
{#            <th>Opening Hours</th>#}
{#            <th>Closing Hours</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{##}
{#        {% for i in Restaurant %}#}
{#            <tr>#}
{##}
{#                <td><a href="/restDet/{{ i['Name'] }}">{{ i['Name'] }}</a></td>#}
{##}
{#                    <td> {{ i['Description'] }}</td>#}
{##}
{#                    <td>{{ i['Location'] }}</td>#}
{##}
{#                    <td>{{ i['Opening Hours'] }}</td>#}
{##}
{#                    <td>{{ i['Closing Hours'] }}</td>#}
{##}
{#                <!--<td><a href="" class="btn btn-warning">Update</a></td>-->#}
{#                <!--<td><form action="" method="post">-->#}
{#                    <!--<input type="submit" value="Delete" class="btn btn-danger" onclick="return session['test']= True"></form></td>-->#}
{##}
{#            </tr>#}
{#        {% endfor %}#}
{##}
{#        </tbody>#}
{#    </table>#}
</div>
    </div>
<style>
     #viewdiv{
        max-width: 1480px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
        align:center;

    }

    #view{
        font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid darkred;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
    font-size:200%;

    }

    #sort{
        font-weight: bold;


    }

    #sortbtn{
         border-radius: 4px;
    background-color: darkred;
    border: 0;
    color: #fff!important;
    display: inline-block;
    font-size: 14px;
    text-align: center;
        height: 36px;
        width:150px;
        float:left;
        margin-top:20px;
    }



 #restnames{
     font-size:230%;
     font-family: Playfair Display, serif;
     font-weight:bold;

 }

#description{
    font-weight:normal;
    font-size:120%;
}

hr{
     font-weight: bold;
    font-style: italic;
    border-bottom: 1px darkgrey;
    width:1000px;
    margin-bottom: 20px;
    padding-bottom: 3px;
}

#avg {
    float:right;
}

#lengthlist{
    float:right;
}

@media(max-width:991px){
    #sortbtn{
        width:100%;
        margin-bottom:50px;
    }
}


</style>

{% endblock %}
