{% extends 'layout.html' %}

{% block body %}
  <div class="container" id="filterdiv">
  <br><br>
    <h1 id="view">Results</h1>
    {% from "includes/_formhelper.html" import render_field %}

    <form method="post">
        <div class="form-group col-md-12">
            <div class="form-group col-md-4">
            <p id="lengthlist">Number of Results: {{ lengthList }}</p>
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="form-group col-md-4" id="sortdiv">
                {{ render_field(form.sort, class_="form-control") }}
            </div>
            <div class="form-group col-md-4">
                <button type="submit" id="sortbtn">Sort</button>
            </div>
        </div>
    </form>
    {% for i in events %}

    <div class="col-md-12">
        <div class="col-md-5" id="col-md-5">
            <h1 id="restnames">{{ i['Name'] }}</h1>
            <img id="detailimg" class="img-responsive" src={{ i['urlEvent'] }}>
            <br>
            <br>
        </div>
        <div class="col-md-5">
            <br><br>
            <p id="description"> {{ i['Description'] }}</p>
            <br>
            <span id="avgra">Number of people going: {{ i['People'] }}</span>
            <br>
            <span>Admission Fee: ${{ i['ticket'] }}</span>
        </div>
        <div class="col-md-2" id="knowbtn">
            <a id="knowtxt"  href="/eventDet/{{ i['Name'] }}">know More</a>
        </div>
   </div>
        <br><br><br>
    {% endfor %}
  </div>

<style>
    #detailimg {
        width: 500px;
        height: 230px;
    }

    #view{
        display: block;
        font-size: 150%;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .1em;
        text-align:center;
    }

    #sort{
        font-weight: bold;
    }

    #sortbtn{
        border-radius: 4px;
        background-color: darkred;
        border: 0;
        color: #fff!important;
        display: inline-block;
        font-size: 14px;
        text-align: center;
        height: 36px;
        width:150px;
        float:left;
        margin-top:25px;
    }

    #restnames{
        display: block;
        font-size: 120%;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        text-align:center;
    }

    #description{
        font-weight:normal;
        font-size:110%;
        word-wrap: break-word;
        height:175px;
    }

{#--------------Know More button--------------#}
    #knowbtn{
        margin-top: 250px;
        border: 1px solid #969696;
        width: 180px;
        padding: 5px 45px 11px;
    }
    #knowtxt:hover{
        text-decoration:none;
        color:darkred!important;
        font-weight:800;
    }
    #knowtxt{
        text-align:center;
        color: black;
        font-size:80%;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        text-decoration:none;
    }
{#--------------Number of Result--------------#}


@media(max-width:991px){
    #sortbtn{
        width:100%;
        margin-bottom:100px;
    }

    #lengthlist{
       margin-right:100px;
        float:right;

    }

    .col-md-3 br, #avg br{
        display:none;
    }

     .col-md-3 span{
        display:block!important;
         float:left;
    }

     #knowbtn{
        margin-top: 15px;
    float: right;
     }

     #col-md-5 br{
         display:none;
     }

     #description br{
         display:none;
     }

      #description{
         height:100%;
     }
}

</style>

{% endblock %}
