{% extends 'layout.html' %}

{% block body %}
        {% from "includes/_formhelper.html" import render_field %}
  <div class="container">
    <h1 id="view">View All Restaurants</h1>

      <form method="post">
      <div class="form-group col-md-12">
          <div class="form-group col-md-4">
          <p id="lengthlist">{{ lengthList }} results</p></div>
      </div>

          <div class="form-group col-md-12">
    <div class="form-group col-md-4">
        {{ render_field(form.sort, class_="form-control") }}
    </div>
        <div class="form-group col-md-4">
            <button type="submit" id="sortbtn">Sort</button>
        </div>
           </div>
</form>
  </div>

    <div class="container">

          <div class="form-group col-md-12">

    <br><br><br>
{% for i in Restaurant %}

   <div class="form-group col-md-4" id="viewdiv">

       <img id='restimg' class='img-responsive' src={{ i['urlRest'] }}>
       <h1 class="restname">{{i['Name'] }}</h1>
       <h5 id="restdesc" style="text-align:justify;word-wrap: break-word;"> {{ i['Description'] }}</h5>

       <h6>Average Rating: {{ i['Average Rating'] }} out of 5 </h6>
       <h6>Price Range: ${{ i['Price'] }}</h6>
       <a class='recbtn' href="/restDet/{{ i['Name'] }}">know more</a>
<br><br>

    </div>
 {% endfor %}
 </div>


</div>


{#      {% for i in Restaurant %}#}
{##}
{#    <div class="form-group col-md-4"><img class="homerec" class='img-responsive' src={{ i['urlRest'] }}>#}
{#        <h3><a href="/restDet/{{ i['Name'] }}">{{ i['Name'] }}</a></h3>#}
{#        <p>{{ i['Description'] }}</p>#}
{#        <br>#}
{#        <p class="avg">{{ i['Average Rating'] }}</p>#}
{#        <p>{{ i['Price'] }}</p>#}
{#    </div>#}
{##}
{#    {% endfor %}#}
{##}
{##}
{##}
{##}
{#</div>#}


<style>
     #view{
       display: block;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
         text-align:center;

    }

{#     #viewdiv{#}
{#         height:600px;#}
{#          overflow: scroll;#}
{#     }#}
    .restname{
    display: block;
    font-size: 130%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
        height:50px;
}



    .recbtn{
         text-align:center;
    border: 1px solid #969696;
    color: #969696;
    margin-top: 24px;
    padding: 5px 32px 11px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size:80%;
        display:block;
    }

    .recbtn:hover{
   text-decoration:none;
    background-color:white;
    color:darkred!important;
    font-weight:800;
}

    #restimg{
        height:250px;
        width:330px;
    }

    #restdesc {
         font-family: 'Montserrat', sans-serif;
   word-wrap: break-word;
        height:200px;

    }

    .form-group col-md-4{
        height:auto!important;
    }

{#    #view::before{#}
{#         content: '';#}
{#    height: 3px;#}
{#    width: 250px;#}
{#    background-color: darkred;#}
{#    position: absolute;#}
{#    bottom:0;#}
{#    margin-top:20px;#}
{#    left: 50%;#}
{#    -webkit-transform: translateX(-50%);#}
{#    -ms-transform: translateX(-50%);#}
{#    transform: translateX(-50%);#}
{#    }#}


     #sortbtn{
         border-radius: 4px;
    background-color: darkred;
    border: 0;
    color: #fff!important;
    display: inline-block;
    font-size: 14px;
    text-align: center;
        height: 36px;
        width:250px;
        float:left;
         margin-top:25px;
    }




</style>


{% endblock %}
