{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
<br>
<br>
<div id="viewdiv">
    <h1 id="view">View All Restaurants</h1>
    <br/>
    <p>{{ lengthList }} results</p>


    <div id="sort">
        <span>Sort By:</span>
        <td><select name="product" id="product" width="300" style="width: 300px">
      <option id="az" onclick="{{ alphalist }}">Alphabetical Order(A~Z)</option>
      <option id="za">Alphabetical Order(Z~A)</option>
      <option id="low">Low to High</option>
            <option id="high">High to Low</option>
            <option id="ratelow">Ratings(Low to High)</option>
            <option id="ratehigh">Ratings(High to Low)</option>

    </select></td>


    <br>
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name of Restaurants</th>
            <th>Description</th>
            <th>Location</th>
            <th>Opening Hours</th>
            <th>Closing Hours</th>
        </tr>
        </thead>
        <tbody>

        {% for i in Restaurant %}
            <tr>

                <td><a href="/restDet/{{ i['Name'] }}">{{ i['Name'] }}</a></td>

                    <td> {{ i['Description'] }}</td>

                    <td>{{ i['Location'] }}</td>

                    <td>{{ i['Opening Hours'] }}</td>

                    <td>{{ i['Closing Hours'] }}</td>

                <!--<td><a href="" class="btn btn-warning">Update</a></td>-->
                <!--<td><form action="" method="post">-->
                    <!--<input type="submit" value="Delete" class="btn btn-danger" onclick="return session['test']= True"></form></td>-->

            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
<style>
     #viewdiv{
        max-width: 1480px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
        align:center;

    }

    #view{
        font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid darkred;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
    font-size:200%;

    }

    #sort{
        font-weight: bold;


    }

    p{
        font-weight: bold;

    }

</style>
{% endblock %}
