{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <h1 id="view">View All Restaurants</h1>
        {% from "includes/_formhelper.html" import render_field %}
        <form method="post">
            <div class="form-group col-md-12">
                <div class="form-group col-md-4">
                    <p id="lengthlist">Number of Results: {{ lengthList }}</p>
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="form-group col-md-4">
                    {{ render_field(form.sort, class_="form-control") }}
                </div>
                <div class="form-group col-md-4">
                    <button type="submit" id="sortbtn">Sort</button>
                </div>
            </div>
        </form>
    </div>
\
    <div class="container">
        <div class="form-group col-md-12">
            <br><br><br>
            {% for i in Restaurant %}
                <div class="form-group col-md-4" id="viewdiv">
                    <img id='restimg' class='img-responsive' src={{ i['urlRest'] }}>
                    <h1 class="restname">{{i['Name'] }}</h1>
                    <div style="width:100%;height:120px;">
                        <h6 id="restdesc"> {{ i['Description'] }}</h6>
                    </div>
                    <h6>Average Rating: {{ i['Average Rating'] }} out of 5 </h6>
                    <h6>Average Meal Price: ${{ i['Price'] }}</h6>
                    <br>
                    <div id="knowbtn">
                        <a id="knowtxt" href="/restDet/{{ i['Name'] }}">Know More</a>
                        <br>
                    </div>
                 <br>
                </div>
            {% endfor %}
        </div>
    </div>


<style>
{#--------------Know More--------------#}
    #knowbtn{
        margin-left: 70px;
        border: 1px solid #969696;
        width: 180px;
        padding: 5px 45px 11px;
    }

    #knowtxt:hover{
        text-decoration:none;
        color:darkred!important;
        font-weight:800;
    }

    #knowtxt{
        text-align:center;
        color: black;
        font-size:80%;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        text-decoration:none;
    }
    #restdesc {
        font-family: 'Montserrat', sans-serif;
        word-wrap: break-word;
        height:150px;
        text-align:justify;
    }

     #view{
        display: block;
        font-size: 150%;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .1em;
         text-align:center;
     }

    .restname{
        display: block;
        font-size: 130%;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .1em;
        text-align: center;
        height:50px;
    }

    .recbtn{
        text-align:center;
        border: 1px solid #969696;
        color: #969696;
        margin-top: 24px;
        padding: 5px 32px 11px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size:80%;
        display:block;
    }

    .recbtn:hover{
        text-decoration:none;
        background-color:white;
        color:darkred!important;
        font-weight:800;
    }

    #restimg{
        height:250px;
        width:330px;
    }

    .form-group col-md-4{
        height:auto!important;
    }

     #sortbtn{
        border-radius: 4px;
        background-color: darkred;
        border: 0;
        color: #fff!important;
        display: inline-block;
        font-size: 14px;
        text-align: center;
        height: 36px;
        width:250px;
        float:left;
        margin-top:25px;
    }

</style>


{% endblock %}
